.FunctionCardWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.FunctionCard {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  margin: 0.5em 0em;
  box-shadow: 1px 1px 3px #cfcdcd;
  width: 100%;
  overflow: hidden;
}

.FunctionCardImageWrapper {
  background-image: url("https://dummyimage.com/90x90/fff/aaa&text=CardImg");
  border-radius: 5px;
}

.Image {
  height: 90px;
  width: 90px;
  min-height: 90px;
  min-width: 90px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Body {
  padding: 0 0.75em;
}

.Title {
  color: var(--darkBlueText);
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.Subtitle {
  color: var(--lightGrayText);
  font-size: 0.9rem;
}
