.FeatureCard {
  margin: 0.25em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #cfcdcd;
}

.Container {
  width: var(--container);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.FeatureCardBodyWrapper {
  background-image: url("https://dummyimage.com/337x175/fff/aaa&text=FeatureCardImg");
}
.FeatureCardBody,
.FeatureCardBodyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.FeatureCardFooter {
  width: 100%;
  padding: 0.5em 1em;
  padding-bottom: 1em;
  background-color: #fff;
  color: grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
}

.FeatureCardFooter h4 {
  padding: 0.5em 0;
  color: var(--darkBlueText);
}

.FeatureCardFooter p {
  padding: 0.5em 0;
  font-size: 0.9rem;
  color: var(--lightGrayText);
}
