.Stripe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.Container {
  width: var(--container);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

.Stripe h1 {
  color: #fff;
}

.Stripe button {
  border: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  min-height: 2em;
}

.BtnPlaceholder {
  width: 10px;
  height: 2em;
  min-height: 2em;
  font-size: 2rem;
}

.Stripe button:hover {
  color: rgb(196, 196, 196);
}
