.ErrorMessage {
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  background-color: rgb(221, 22, 22);
  color: #fff;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #ffffff60;
  opacity: 0.9;
}

.Disappear {
  animation-name: disappear;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes disappear {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(400px);
  }
}
