.OverviewCardGroup {
  width: 100%;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  text-align: center;
}

.Container {
  width: var(--container);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.OverviewCardGroupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OverviewCardGroupHeader a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: var(--lightBlueText);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ArrowIcon {
  margin-left: 5px;
}

.GroupTitle {
  text-align: left;
  color: var(--darkBlueText);
  font-size: 1.3rem;
  margin-bottom: 0.25em;
}

.Cards {
  width: 100%;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
}

.Loading {
  color: var(--darkBlueText);
}
