* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkBg);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --darkBlueText: rgba(29, 63, 107, 255);
  --lightBlueText: rgba(27, 101, 209, 255);
  --lightGrayText: rgba(104, 130, 161, 255);
  --lightGrayBg: rgba(245, 247, 250, 255);
  --darkBg: rgb(34, 34, 34);
  --container: 90%;
}

.App {
  width: 100%;
  width: 390px;
  height: 812px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: var(--lightGrayBg);
  border-radius: 3px;
  box-shadow: 0px 0px 20px #ffffffce;
}

@media screen and (min-width: 600px) {
  .App {
    box-sizing: content-box;
    margin-top: 3em;
    border: 2px solid rgba(32, 71, 156, 0.849);
  }
}

.developed-by {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}
